[submodule "Plug-ins/PrettyJSON.codaplugin"]
	path = Plug-ins/PrettyJSON.codaplugin
	url = git@github.com:ngs/PrettyJSON.codaplugin.git
[submodule "Plug-ins/Objective-C.codaplugin"]
	path = Plug-ins/Objective-C.codaplugin
	url = git@github.com:ngs/Objective-C.codaplugin.git
[submodule "Modes/CoffeeScript.mode"]
	path = Modes/CoffeeScript.mode
	url = git://github.com/caseywebdev/CoffeeScript.mode.git
[submodule "Plug-ins/PrettyXML.codaplugin"]
	path = Plug-ins/PrettyXML.codaplugin
	url = git@github.com:ngs/PrettyXML.codaplugin
[submodule "Modes/haml.mode"]
	path = Modes/haml.mode
	url = git://github.com/dreki/haml-mode-coda2.git
[submodule "Plug-ins/TextUtils.codaplugin"]
	path = Plug-ins/TextUtils.codaplugin
	url = git@github.com:ngs/TextUtils.codaplugin
[submodule "Modes/Markdown.mode"]
	path = Modes/Markdown.mode
	url = git://github.com/bobthecow/Markdown.mode.git
