WebpageIcons.db
.DS_Store
*.swp
Sites/siteIndex.plist
Logs
Plug-ins/Markdown.codaplugin
Plug-ins/Arduino.codaplugin
Plug-ins/Creole.codaplugin
Plug-ins/Gist.codaplugin
Plug-ins/Capitalize.codaplugin
Plug-ins/Evernote.codaplugin
